html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  background-color: #dee6fa;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-image: url('../images/background_main.png');
  background-size: contain;
  width: 100%;
  height: 100%;
  font-size: 1em;
}

header,
section,
main,
menu,
nav,
footer,
hgroup,
article,
h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

ul > li {
  list-style: none;
}

#wrapper {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
}

main {
  height: 75%;
}

#identity {
  
}

#identity > h1 > a > span,
#identity > h1 > a > strong {
  display: none;
}

#identity > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#identity > h1 > a {
  width: 20vw;
  height: 8vw;
  display: block;
  background-image: url('../images/event_alarm.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

header > #exit {
  float: right;
  margin: -10vh 3vw 0px 0px;
  border-radius: 1vw;
  padding: 1vh  1.5vw;
  color: #fcfcfc;
}

header > #exit > a {
  display: inline-block;
  text-align: center;
}

header > #exit > a > span:first-child {
  display: block;
  width: 2vw;
  height: 2vw;
  padding: 0px;
  font-size: 1.5vw;
  color: #fcfcfc;
  background-color: #fd0404;
  border-radius: 50%;
  content: "&#88;";
}

header > #exit > a > span:last-child {
  display: block;
  font-size: 0.7em;
  margin-top: 3px;
}


main {
  display: block;
  text-align: center;
}

main p, 
main label, 
main input {
  font-size: 1.5vw;
  color: #00276C;
}

main > section#description > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6vh;
}

main > section#description > ul > li {
  margin: 0px 5vw;
}

main > section#description > ul > li > p {
  margin: 0px;
  color: #00276C;
}

main > section#description > ul > li > img {
  height: 5vw;
}

main > section#login {
  margin-top: 6vh;
}

main > section#login > form > input[type=email] {
  width: 30vw;
  border: solid #00003d 1px;
}

main > section#login > form {
  margin-top: 3vh
}

main > section#login > form > input[type=button] {
  background-image: url('../images/button_send.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  margin-left: 2vw;
  scale: 2;
}

main > section#login > form > input[type=button]:hover {
  scale: 3;
  cursor: pointer;
}

main > section#login > form > label {
  color:#014BA0;
}

main > section#auth,
main > section#auth > p#authmessage {
  display: none;
  margin-top: 3vh;
}

main > section#auth > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6vh;
}

main > section#auth > ul > li {
  margin: 0px 5vw;
  background-color: #5B7DCF;
  border-radius: 1vw;
  width: 7vw;
  padding: 1vw 2vw; 
}

main > section#auth > ul > li:hover {
  background-color: #96b3ff;
  color: #01051f;
  cursor: pointer;
}

main > section#auth > ul > li > i {
  font-size: 5vw;
  color: #f8f5f5;
}

main > section#auth > ul > li.hover > i {
  color: #01051f;
}

main > section#auth > ul > li > p {
  margin: 3px 0px;
}

main > section#auth > #authmessage {
  color:#5959b1;
  font-size: 0.8vw;
  color: #5B7DCF;
}

/** dashboard **/

main > #alarms {
  border: solid #00003D 1px;
  margin: auto 3vw;
  padding: 0.5vw 0px;
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
}

main > section#alarms > #list {
  width: 40%;
  border-right: solid #ccc 1px;  
}

main > section#alarms > #content {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: "column";
  flex-wrap: wrap;
}

main > section#alarms > #list > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  margin: 0px;
  padding: 0px;  
}

main > section#alarms > #list > ul > li {
  height: 8vw;
  margin: 2px 3px;
  width: 32%;     
  border-radius: 8px;
  background-color: #eee;
}

main > section#alarms > #list > ul > li > p {
  color: #221665;
}

main > section#alarms > #list > ul > li.selected {
  background-color: #31356c;
}

main > section#alarms > #list > ul > li.selected > p {
  color: #eee;
}

main > section#alarms > #list > ul > li:hover {
  margin-top: 1px;
  box-shadow: 4px 5px 5px 1px rgba(58,58,60,0.5);
  cursor: pointer;
}


main > section#alarms > #list > ul > li > img {
  height: 5vw;
}

main > section#alarms > #list > #items {
  overflow-y: scroll;
  height: 75%;
}

main > section#alarms > #list > #items > article {
  background-color: #fff;
  border: solid #00003D 1px;
  border-radius: 5px;
  text-align: left;
  margin: 1.5vh 1.5vw;
  padding: 1vh 1vw;
}

main > section#alarms > #list > #items > article:hover {
  background-color: #f6f6ff;
  cursor: pointer;
  box-shadow: 4px 5px 5px 1px rgba(58,58,60,0.5);
}

main > section#alarms > #list > #items > article > h2,
main > section#alarms > #list > #items > article > p {
  padding: 0px;
  margin: 0px;
  font-size: 1em;
}

main > section#alarms > #list > #items > article > h2 {
  color: rgb(12, 12, 63);
  font-weight: bold;
}

main > section#alarms > #list > #items > article > p {
  color:rgb(43, 43, 94);
}

/** fin dashboard **/

footer {
  background-color: #00003D;
  color: #E5E5EA;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 110;
  height: 5vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
}

footer > h2 {
  padding: 18px 20px;
  font-size: 12px;
}

footer > p {
  padding: 18px 20px;
  font-size: 12px;
}